In [29]:
# ws01

from sklearn.feature_extraction.text import TfidfVectorizer

a = 'the Sun of beach and beach'
b = 'moon earth moon'

text = [a,b]

tfv = TfidfVectorizer(stop_words='english')
matrix = tfv.fit_transform(text)

In [30]:
print(tfv.get_feature_names_out())
print(matrix.toarray().round(3))


import pandas as pd
matrix = matrix.todense()  # or toarray matrix = matrix.toarray()
df = pd.DataFrame(matrix, columns=tfv.get_feature_names_out(), 
                  index=['a','b'])
df.round(3)

['beach' 'earth' 'moon' 'sun']
[[0.894 0.    0.    0.447]
 [0.    0.447 0.894 0.   ]]

   beach  earth   moon    sun
a  0.894  0.000  0.000  0.447
b  0.000  0.447  0.894  0.000

In [31]:
# case 2
a = 'sun beach beach'
b = 'Sun moon earth moon'

text = [a,b]
tfv = TfidfVectorizer()
matrix = tfv.fit_transform(text)
matrix = matrix.todense()
df = pd.DataFrame(matrix, columns=tfv.get_feature_names_out(), 
                  index=['a','b'])
df.round(3)

   beach  earth   moon    sun
a  0.942  0.000  0.000  0.335
b  0.000  0.426  0.852  0.303

In [32]:
print(matrix)

[[0.94215562 0.         0.         0.33517574]
 [0.         0.4261596  0.8523192  0.30321606]]

In [33]:
df.shape

(2, 4)

In [34]:
# ws02

a = 'sun beach'
b = 'Sun moon earth'
c = 'the sun is an object in the sky'

text = [a,b,c]

tfv = TfidfVectorizer()
matrix = tfv.fit_transform(text)

print(tfv.get_feature_names_out())
print(matrix.toarray().round(3))


import pandas as pd
matrix = matrix.todense()
df = pd.DataFrame(matrix, columns=tfv.get_feature_names_out(), 
                  index=['a','b','c'])
df.round(3)

['an' 'beach' 'earth' 'in' 'is' 'moon' 'object' 'sky' 'sun' 'the']
[[0.    0.861 0.    0.    0.    0.    0.    0.    0.509 0.   ]
 [0.    0.    0.652 0.    0.    0.652 0.    0.    0.385 0.   ]
 [0.327 0.    0.    0.327 0.327 0.    0.327 0.327 0.193 0.654]]

      an  beach  earth     in     is   moon  object    sky    sun    the
a  0.000  0.861  0.000  0.000  0.000  0.000   0.000  0.000  0.509  0.000
b  0.000  0.000  0.652  0.000  0.000  0.652   0.000  0.000  0.385  0.000
c  0.327  0.000  0.000  0.327  0.327  0.000   0.327  0.327  0.193  0.654

In [35]:
print(matrix)

[[0.         0.861037   0.         0.         0.         0.
  0.         0.         0.50854232 0.        ]
 [0.         0.         0.65249088 0.         0.         0.65249088
  0.         0.         0.38537163 0.        ]
 [0.32705548 0.         0.         0.32705548 0.32705548 0.
  0.32705548 0.32705548 0.19316423 0.65411096]]

In [36]:
df.shape

(3, 10)