In [31]:
# -*- coding: utf-8 -*-

import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

In [32]:

a = 'beach sea beach'
b = 'Beach sea sea'

text = [a,b]
cv = CountVectorizer()
count_matrix = cv.fit_transform(text)

In [33]:
print(cv.get_feature_names_out())
print(count_matrix.toarray())

['beach' 'sea']
[[2 1]
 [1 2]]

In [34]:
term_matrix = count_matrix.todense()
df = pd.DataFrame(term_matrix, columns=cv.get_feature_names_out(), 
                  index=['a', 'b'])
df

   beach  sea
a      2    1
b      1    2

In [35]:
from sklearn.metrics.pairwise import cosine_similarity

In [36]:
cosine_sim = cosine_similarity(count_matrix)
cosine_sim

array([[1. , 0.8],
       [0.8, 1. ]])

In [37]:
# WS2 

a = 'beach sea beach'
b = 'Beach sea sea Beach beach beach'

text = [a,b]
cv = CountVectorizer()
count_matrix = cv.fit_transform(text)

In [38]:
print(cv.get_feature_names_out())
print(count_matrix.toarray())

['beach' 'sea']
[[2 1]
 [4 2]]

In [39]:
term_matrix = count_matrix.todense()
df = pd.DataFrame(term_matrix, 
                  columns=cv.get_feature_names_out(), 
                  index=['a', 'b'])
df

   beach  sea
a      2    1
b      4    2

In [40]:
cosine_sim = cosine_similarity(count_matrix)
cosine_sim

array([[1., 1.],
       [1., 1.]])

## ws02

In [41]:
a = 'blue skirt dress lady'
b = 'blue shirt lady' 
c = 'smartphone android'
d = 'charger smartphone tablet'

text = [a,b,c,d]

cv = CountVectorizer()
count_matrix = cv.fit_transform(text)

term_matrix = count_matrix.todense()
df = pd.DataFrame(term_matrix, 
                  columns=cv.get_feature_names_out(), 
                  index=['a', 'b','c','d'] )
                  
df

   android  blue  charger  dress  lady  shirt  skirt  smartphone  tablet
a        0     1        0      1     1      0      1           0       0
b        0     1        0      0     1      1      0           0       0
c        1     0        0      0     0      0      0           1       0
d        0     0        1      0     0      0      0           1       1

In [42]:
cosine_sim = cosine_similarity(count_matrix)
cosine_sim.round(3)

array([[1.   , 0.577, 0.   , 0.   ],
       [0.577, 1.   , 0.   , 0.   ],
       [0.   , 0.   , 1.   , 0.408],
       [0.   , 0.   , 0.408, 1.   ]])

In [43]:
ref_index = 0 # a

similar_score = cosine_sim[ref_index]
similar_score.round(2)

array([1.  , 0.58, 0.  , 0.  ])

In [44]:
ref_index = 2 # c

similar_score = cosine_sim[ref_index]
similar_score.round(2)

array([0.  , 0.  , 1.  , 0.41])

In [45]:
ref_index = 2 # 
similar_score = cosine_sim[ref_index]
similar_products = list(enumerate(similar_score)) 
similar_products

[(0, 0.0), (1, 0.0), (2, 0.9999999999999998), (3, 0.408248290463863)]

In [46]:
sorted_recommend = sorted(similar_products,key=lambda x:x[1],reverse=True)[1:] 
sorted_recommend

[(3, 0.408248290463863), (0, 0.0), (1, 0.0)]

In [47]:

print("Top recommend for "+ df.index[ref_index] +
      " \n---------------------")
for i,element in enumerate(sorted_recommend):

    title = df.index[element[0]] 
    print('{:8} {:.3f}' . format(title, sorted_recommend[i][1]))

Top recommend for c
---------------------
d        0.408
a        0.000
b        0.000